*{
	margin: 0;
	padding: 0;
}
.lb{
	color:#7a7c82;
	display:inline-block;
    max-width:100%;
    margin-bottom:5px;
    font-weight:bold;
    color: #7a7c82;
}
.vb{
	font-family: 'Source Sans Pro',sans-serif;
	font-weight:400px;
    line-height: 25px;
    color: #7a7c82;
}